{% extends '../index.twig' %}

{% block content %}

    <form action="/settings/" method="POST" class="uk-form-horizontal settings-form">

        <div class="uk-switcher">
            {% embed "./exchange.twig" %}{% endembed %}

            {% embed "./strategy.twig" %}{% endembed %}

            {% embed "./interface.twig" %}{% endembed %}
        </div>

        <hr>
        <p class="uk-margin-medium">
            <button type="button" class="saveSettings uk-button uk-button-primary">Save</button>
            <button type="button" class="resetSettings uk-button uk-button-default">Reset</button>
        </p>
    </form>
{% endblock %}