@global-font-family: 'Open Sans', sans-serif;
@base-heading-font-family: 'Roboto Condensed', sans-serif;

@button-text-border-width: 2px;

@icon-button-border-radius: 0;
@icon-button-size: 40px;

@form-legend-line-height: @text-lead-line-height;
@form-width-medium: 250px;
@form-width-small: 125px;

@nav-default-font-size: 1.25rem;

@tooltip-font-size: .8125rem;
@tooltip-border-radius: 0;
@tooltip-padding-vertical: 6px;
@tooltip-padding-horizontal: 10px;
@tooltip-max-width: 250px;

@form-horizontal-label-width: auto;

@progress-background: transparent;
@progress-border-radius: 0;
@progress-height: 5px;