{% extends '../index.twig' %}

{% block content %}

    <form action="/trading/" method="POST" class="uk-form-horizontal trading-form">

        <div class="uk-switcher">
            {% embed "./realtime.twig" with { desc: 'Realtime trading with unknown future' } %}{% endembed %}

            {% embed "./emulation.twig" with { desc: 'Emulate trading with exchange history' } %}{% endembed %}
        </div>

        {#<hr>#}
        <p class="uk-margin-medium">
            <button type="button" class="uk-button uk-button-primary start">Start</button>
            <button type="button" class="uk-button uk-button-default stop">Stop</button>
        </p>
    </form>
{% endblock %}